<header class="header">
  <nav class="header--navigation">
    <div class="header--logo">
      <p>
        Colored lines studio
      </p>
    </div>

    <div class="header--navlinks">
      <span>
        Like what you see?
      </span>
      <button class="btn btn-warning hire-us-btn">Hire us</button>
    </div>
  </nav>

  <div class="header--jumbotron">
    <h1>
      We are not another
      <span class="header--highlight">Creative Agency</span>
    </h1>

    <%= fa_icon 'angle-down icon' %>
  </div>
</header>

<section class="why-us">
  <header>
    <h2>
      Why are we different?
    </h2>
  </header>

  <div class="row">
    <div class="col-sm-4">
      <header>
        <%= fa_icon 'cube 5x icon' %>
        <h3>
          Problem Solving
        </h3>
      </header>
      <p>
        We emphatetically make your problem ours and we pride ourselves in finding solutions to these problems
        using the latest technologies.
      </p>
    </div>

    <div class="col-sm-4">
      <header>
        <%= fa_icon 'heartbeat 5x icon' %>
        <h3>
          Emphatetic
        </h3>
      </header>
      <p>
        We put ourselves in your shoes, considering all your business needs while ensuring your users get the very best
        exprience using your products.
      </p>
    </div>

    <div class="col-sm-4">
      <header>
        <%= fa_icon 'bullseye 5x icon' %>
        <h3>
          Consistency
        </h3>
      </header>
      <p>
        We've made a long lasting impression by being consistent with our delivery. We are always on time, in sync and
        we aren't scared to re-iterate.
      </p>
    </div>

  </div>
</section>

<section class="what-we-can-do">
  <header>
    <h2>
      What we can do for you
    </h2>
  </header>

  <div class="row">
    <div class="col-sm-3">
      <header>
        <%= fa_icon 'bullseye 5x icon' %>
        <h3>
          Design
        </h3>
      </header>
      <p>
        Use Cases, Storyboards, Wireframes, Design Concepts
      </p>
    </div>

    <div class="col-sm-3">
      <header>
        <%= fa_icon 'bullseye 5x icon' %>
        <h3>
          Research
        </h3>
      </header>
      <p>
        Persona Creation, User testing, Analysis, Content Strategy
      </p>
    </div>

    <div class="col-sm-3">
      <header>
        <%= fa_icon 'bullseye 5x icon' %>
        <h3>
          Develop
        </h3>
      </header>
      <p>
        Desktop, Mobile App and Web development
      </p>
    </div>

    <div class="col-sm-3">
      <header>
        <%= fa_icon 'bullseye 5x icon' %>
        <h3>
          Deploy
        </h3>
      </header>
      <p>
        Devops, Scalability and Maintenance.
      </p>
    </div>

  </div>
</section>

<section class="signatures">
  <div class="row">
    <div class="col-sm-6">
      <p>
        Cto signature
      </p>
    </div>

    <div class="col-sm-6">
      <p>
        Director signature
      </p>
    </div>
  </div>
</section>