<header class="header">
  <%= render 'shared/navbar' %>
  
  <div class="header--jumbotron">
    <h1>
      We are not another
      <span class="header--highlight">Creative Agency</span>
    </h1>

    <%= link_to '#the-why', data: { 'smooth-scroll' => true } do %>
      <%= fa_icon 'angle-down icon' %>
    <% end  %>
  </div>
</header>

<section class="why-us" id="the-why">
  <header>
    <h2 class="wow fadeIn" data-wow-duration="5s">
      Why are we different?
    </h2>
  </header>

  <div class="row">
    <div class="col-sm-4">
      <header>
        <%= image_tag 'problem_solving.svg', class: 'icon icon-cube wow pulse', data: { 'wow-delay' => '.2s', 'wow-duration' => '5s' } %>
        <h3 class="wow fadeIn" data-wow-delay=".4s" data-wow-duration="5s">
          Problem Solving
        </h3>
      </header>
      <p class="wow fadeIn" data-wow-delay=".6s" data-wow-duration="5s">
        We emphatetically make your problem ours and we pride ourselves in finding solutions to these problems
        using the latest technologies.
      </p>
    </div>

    <div class="col-sm-4">
      <header>
        <%= image_tag 'empathetic.svg', class: 'icon icon-heart wow pulse', data: { 'wow-delay' => '.2s', 'wow-duration' => '5s' } %>
        <h3 class="wow fadeIn" data-wow-delay=".4s" data-wow-duration="5s">
          Emphatetic
        </h3>
      </header>
      <p class="wow fadeIn" data-wow-delay=".6s" data-wow-duration="5s">
        We put ourselves in your shoes, considering all your business needs while ensuring your users get the very best
        experience using your products.
      </p>
    </div>

    <div class="col-sm-4">
      <header>
        <%= image_tag 'consistency.svg', class: 'icon icon-bullseye wow pulse', data: { 'wow-delay' => '.2s', 'wow-duration' => '5s' } %>
        <h3 class="wow fadeIn" data-wow-delay=".4s" data-wow-duration="5s">
          Consistency
        </h3>
      </header>
      <p class="wow fadeIn" data-wow-delay=".6s" data-wow-duration="5s">
        We've made a long lasting impression by being consistent with our delivery. We are always on time, in sync and
        we aren't scared to re-iterate.
      </p>
    </div>

  </div>
</section>

<section class="what-we-can-do">
  <header>
    <h2 class="wow slideInUp" data-wow-duration="1s">
      What we can do for you
    </h2>
  </header>

  <div class="row">
    <div class="col-sm-3">
      <header>
        <%= image_tag 'design.svg', class: 'icon wow bounce', data: { 'wow-delay' => '.2s' } %>
        <h3>
          Design
        </h3>
      </header>
      <p>
        Use Cases, Storyboards, Wireframes, Design Concepts
      </p>
    </div>

    <div class="col-sm-3">
      <header>
        <%= image_tag 'research.svg', class: 'icon wow bounce', data: { 'wow-delay' => '.4s' } %>
        <h3>
          Research
        </h3>
      </header>
      <p>
        Persona Creation, User testing, Analysis, Content Strategy
      </p>
    </div>

    <div class="col-sm-3">
      <header>
        <%= image_tag 'develop.svg', class: 'icon wow bounce', data: { 'wow-delay' => '.6s' } %>
        <h3>
          Develop
        </h3>
      </header>
      <p>
        Desktop, Mobile App and Web development
      </p>
    </div>

    <div class="col-sm-3">
      <header>
        <%= image_tag 'deploy.svg', class: 'icon wow bounce', data: { 'wow-delay' => '.8s' } %>
        <h3>
          Deploy
        </h3>
      </header>
      <p>
        Devops, Scalability and Maintenance.
      </p>
    </div>

  </div>
</section>

<section class="say-hello">
  <div class="row">
    <div class="col-sm-12 text-center">
      <button class="btn btn-primary say-hello-btn">
        Say Hello
      </button>
    </div>

  </div>
</section>