<header class="header" id="hire-us-page">
  <%= render 'shared/navbar' %>
  <div class="thank-you">
    <div class="thank-you-body">
      <div class="message-icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="-9306 8460.52 136.428 118.39">
          <defs>
            <style>
              .cls-1 {
                fill: #fff100;
                height: 60px;
              }
            </style>
          </defs>
          <g id="paper-plane-1" transform="translate(-9306 8428.263)">
            <g id="Group_603" data-name="Group 603" transform="translate(0 32.257)">
              <path id="Path_1105" data-name="Path 1105" class="cls-1" d="M134.584,33.383a5.013,5.013,0,0,0-5.2-.7l-124.5,54.3a8.134,8.134,0,0,0,.895,15.238l30.7,9.283a5.024,5.024,0,0,0,2.908-9.618l-25.7-7.773L110.958,51.7,53.584,108.958c-.028.028-.056.084-.112.112l-.224.224a.85.85,0,0,0-.14.2c-.028.056-.084.112-.112.168a.087.087,0,0,0-.028.056c-.056.056-.084.14-.14.2-.056.084-.084.168-.14.252-.028.056-.056.14-.084.2-.056.084-.084.2-.14.28a.4.4,0,0,0-.056.168c-.028.112-.084.2-.112.308-.028.056-.028.112-.056.168l-.084.336c0,.056-.028.112-.028.168a1.361,1.361,0,0,0-.028.336v.643l1.51,28.659a7.749,7.749,0,0,0,13.5,4.781l11.491-12.694,22.647,15.685a8.106,8.106,0,0,0,7.661.867,8.1,8.1,0,0,0,4.949-5.872L136.317,38.332A5.057,5.057,0,0,0,134.584,33.383ZM63.4,135.38l-.671-12.889,7.577,5.256Zm41.241,3.886L64.964,111.782l57.681-57.569Z" transform="translate(0 -32.257)"/>
            </g>
          </g>
        </svg>
      </div>
      <div class="paper-trail">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 530.35 106.66"><title>Asset 1</title><path d="M1,22.89C34,46,76.1,58.48,115.61,63.19c39.81,4.75,80.31,1,118.79-10.12,19.75-5.69,39-11.78,57-21.93C309,21.19,326,9.4,345.74,4A89.86,89.86,0,0,1,408.08,10c16.22,7.93,29.68,20.63,41.13,34.58,6.15,7.49,11.91,15.62,14.49,25s1.5,20.17-4.86,27.49c-6,6.85-15.77,9.6-24.76,8.35-6-.83-11.89-3.41-15.64-8.11-5.85-7.32-5.23-17.92-2.54-26.91a73.4,73.4,0,0,1,47.29-48c21.34-6.76,45-3.37,66.16-10.53" style="fill:none;stroke:#9370db;stroke-linecap:round;stroke-miterlimit:10;stroke-width:3px;opacity:.1;stroke-dasharray:8"/></svg>
      </div>
      <div class="thank-you-message">
        <h3>THANK YOU FOR REACHING OUT</h3>
        <h5> We will get in touch with you soon</h5>
      </div>
      <div class="thank-you-social">
        <h6> You can see our social accounts below</h6>
        <div class="thank-you-social-accounts">
          <%= link_to 'https://twitter.com/_CL_Studio' do %>
            <%= fa_icon 'twitter' %>
          <% end %>

          <%= link_to 'https://www.instagram.com/_clstudio/' do %>
            <%= fa_icon 'instagram' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</header>
