<!DOCTYPE html>
<html>
  <head>
    <title>Colored Lines Studio</title>
    <%= csrf_meta_tags %>

    <link rel="shortcut icon" href="assets/header-logo.png">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>

    <footer class="footer">
      <div class="footer--logo">
        <%= image_tag 'footer-logo.png' %>
      </div>

      <div class="footer--social-icons">
        <%= link_to '#', class: 'icon' do %>
          <%= fa_icon 'twitter' %>
        <% end %>

        <%= link_to '#', class: 'icon' do %>
          <%= fa_icon 'instagram' %>
        <% end %>

        <%= link_to '#', class: 'icon' do %>
          <%= fa_icon 'envelope-o' %>
        <% end %>
      </div>
    </footer>
  </body>
</html>
